@using Recom_Pharmacy.Models;
@{

    KHACHHANG acc = (KHACHHANG)Session["usr"];
    string username = "";
    if (Request.Cookies["usr"] != null)
    {
        username = Request.Cookies["usr"].Value;

    }

}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pharmacy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/Content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/assets/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/Content/assets/css/aos.css">

    <link rel="stylesheet" href="/Content/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>

<body>

    <div class="site-wrap">


        <div class="site-navbar py-2">
            <div class="search-wrap">
                <div class="container">
                    @Html.Action("Search","UserInterface")
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="@Url.Action("Index", "UserInterface")" class="js-logo-clone">Pharma</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li><a href="@Url.Action("Index", "UserInterface")">Trang chủ</a></li>
                                <li><a href="@Url.Action("ViewAllProduct", "UserInterface")">Cửa hàng</a></li>
                                <li><a href="@Url.Action("Blog", "UserInterface")">Blog</a></li>
                                @*<li><a href="@Url.Action("About", "UserInterface")">About</a></li>*@
                                <li><a href="@Url.Action("Contact", "UserInterface")">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a class="icons-btn d-inline-block bag" href="@Url.Action("Cart","Cart")" >
                            <span class="icon-shopping-bag">
                            </span>
                            <span class="number">@Html.Action("CartPartial", "Cart")</span>
                        </a>

                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                    <div class="h_right_text">
                        @if (Session["usr"] == null)
                        {
                            <ul class="nav">
                                <li class="nav-item dropdown">
                                    <a href="@Url.Action("Login","Login")" class="nav-link" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-sign-in-alt"></i> Đăng Nhập
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="@Url.Action("Register","Login")" class="nav-link" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-plus"></i> Đăng Ký
                                    </a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav">
                                <li class="nav-item dropdown submenu">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span>@acc.TENKH</span>
                                        <img width="20" height="20" style="border-radius: 50%" src="@Url.Content("~/Content/Image/user_icon.png")">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("Profile","UserInterface")">Hồ Sơ</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("ListOrderClient","UserInterface")">Đơn Hàng</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Changepassword","Login")">Đổi mật khẩu</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("SignOut","UserInterface")">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>

                </div>
            </div>
        </div>


        @RenderBody()

        @*@Html.ActionLink("UserInterface", "Index")*@

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                        <div class="block-7">
                            <h3 class="footer-heading mb-4">About Us</h3>
                            <p>
                                Với mục tiêu làm cho mỗi ngày của bạn trở nên mạnh mẽ và khỏe mạnh, 
                                chúng tôi mang đến những giải pháp thuốc chất lượng cao, để bạn có thể sống một cuộc sống trọn vẹn và hạnh phúc!
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Quick Links</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="@Url.Action("ViewAllProduct", "UserInterface")">Tất cả sản phẩm</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Blog", "UserInterface")">  Tin tức</a>
                            </li>
                            <li><a href="@Url.Action("Contact", "UserInterface")"> Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 450 Lê Văn Việt, Phường Tăng Nhơn Phú A, TP.Thủ Đức, TPHCM</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel://84383782024"> +84 383 782 024</a></li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i> thienlinh0112000@gmail.com</li>
                            </ul>
                        </div>


                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Các chính sách bảo hành | Trang web được thực hiện <i class="icon-heart" aria-hidden="true"></i> bởi <a href="https://github.com/yenluu2506" target="_blank"
                                                                                     class="text-primary">YenLuu</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/assets/js/jquery-ui.js"></script>
    <script src="/Content/assets/js/popper.min.js"></script>
    <script src="/Content/assets/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/owl.carousel.min.js"></script>
    <script src="/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/Content/assets/js/aos.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME"
                  chat-title="Recom_Pharmacy"
                  agent-id="d481d997-79eb-4297-96a5-a3e523cde7da"
                  language-code="en"></df-messenger>

</body>

</html>