@model Recom_Pharmacy.Models.CTKHO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật Chi tiết Kho</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/ctkho">Kho</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="card-body">
        @if (Model != null)
        {
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit", "CTKho", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.ID)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kho</label>
                            @Html.DropDownList("MAKHO", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MAKHO, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kệ</label>
                            @Html.TextBoxFor(x => x.KE, new { @class = "form-control", @placeholder = "Nhập vào Địa chỉ cụ thể" })
                            @Html.ValidationMessageFor(x => x.KE, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ngăn</label>
                            @Html.TextBoxFor(x => x.NGAN, new { @class = "form-control", @placeholder = "Nhập vào SĐT" })
                            @Html.ValidationMessageFor(x => x.NGAN, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Hiển thị</label>
                            @Html.CheckBoxFor(x => x.TRANGTHAI, new { @checked = "@checked" })
                        </div>
                        <div class="form-group">
                            <a href="/ctkho" class="btn btn-danger">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                }
            </div>
        }
    </div>

</section>