@model Recom_Pharmacy.Models.LOAITHUOC

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LOAITHUOC</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MAMENU, "MAMENU", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MAMENU", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MAMENU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TENLOAI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TENLOAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TENLOAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới Loại Thuốc</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Loại Thuốc</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <div class="card-body">
        <div class="bs-stepper-content">
            @using (Html.BeginForm("Add", "LOAITHUOC", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <!-- your steps content here -->
                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên Menu</label>
                        @Html.TextBoxFor(x => x.TENLOAI, new { @class = "form-control", @placeholder = "Nhập vào tên menu" })
                        @Html.ValidationMessageFor(x => x.TENLOAI, null, new { @class = "text-danger" })
                    </div>

                    <input type="hidden" id="selectedTheLoaisHidden" name="selectedTheLoais" />
                    @*<div class="form-group">
                        <label>Thể loại</label>
                        <select id="selectedTheLoais" name="selectedTheLoais" multiple="multiple">
                            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.list_TheLoai)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.MAMENU, "MAMENU", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MAMENU", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MAMENU, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="/loaithuoc" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            }
        </div>
    </div>

</section>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>