@model Recom_Pharmacy.Models.CHITIETHDN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CHITIETHDN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.MAHDN, "MAHDN", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MAHDN", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MAHDN, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.MAHDN, "MAHDN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MAHDN, (IEnumerable<SelectListItem>)ViewBag.MAHDN, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MAHDN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MACTTONKHO, "MACTTONKHO", htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
            @Html.DropDownList("MACTTONKHO", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MACTTONKHO, "", new { @class = "text-danger" })
        </div>*@
            <div class="col-md-10">
                @*@Html.DropDownListFor(model => model.MACTTONKHO, (IEnumerable<SelectListItem>)ViewBag.MACTTONKHO, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("MATHUOC", ViewBag.MATHUOC as SelectList, "-- Select Drug --")
                <select id="MACTTONKHO" name="MACTTONKHO"></select>

                @Html.ValidationMessageFor(model => model.MACTTONKHO, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.MATHUOC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MATHUOC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MATHUOC, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.MATHUOC, "MATHUOC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MATHUOC, (IEnumerable<SelectListItem>)ViewBag.MATHUOC, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MATHUOC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MADVT, "MADVT", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MADVT", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MADVT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CHIETKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CHIETKHAU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CHIETKHAU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

 @*Content Header (Page header) 
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới Chi tiết HĐN</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/cthdn">Chi tiết HĐN</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div> /.container-fluid 
</section>

 Main content 
<section class="content">

    <div class="card-body">
        <div class="bs-stepper-content">
            @using (Html.BeginForm("Create", "CTHDN", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                //your steps content here 
                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        @Html.LabelFor(model => model.MAHDN, "MAHDN", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("MAHDN", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MAHDN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MAHDN, "MAHDN", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.MAHDN, (IEnumerable<SelectListItem>)ViewBag.MAHDN, "-- Chọn MAHDN --", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MAHDN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MACTKHO, "MACTKHO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MACTKHO", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MACTKHO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MATHUOC, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MATHUOC, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MATHUOC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MADVT, "MADVT", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MADVT", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MADVT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CHIETKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CHIETKHAU, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CHIETKHAU, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        <a href="/cthdn/index/@Model.ID" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            }
        </div>
    </div>

</section>*@

<script>$(document).ready(function () {
    $("#MATHUOC").change(function () {
        var selectedDrugId = $(this).val();
        $.getJSON("/ControllerName/Create", { selectedDrugId: selectedDrugId }, function (data) {
            $("#MACTTONKHO").empty(); // Clear existing options
            $.each(data, function (index, item) {
                $("#MACTTONKHO").append($('<option/>', {
                    value: item.id,
                    text: item.text
                }));
            });
        });
    });
});</script>