@model Recom_Pharmacy.Models.Blog
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<section class="main_blog_area py-5">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9 mx-auto">
                <div class="main_blog_inner single_blog_inner bg-white p-4 rounded shadow-sm">

                    <div class="blog_item mb-4">
                        <div class="blog_img mb-3">
                            <img class="img-fluid rounded" src="@Model.ANH" alt="" style="width: 100%; height: auto;">
                        </div>
                        <div class="blog_text">
                            <div class="blog_time d-flex justify-content-between align-items-center mb-3">
                                <a href="#" class="text-muted">@Model.NGAYVIET</a>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a href="#" class="text-muted">By: Admin</a></li>
                                </ul>
                            </div>
                            <a href="#"><h4 class="fw-bold">@Model.TIEUDE</h4></a>
                            @Html.Raw(Model.MOTANGAN)
                        </div>
                    </div>

                    <div class="single_element_text mb-4 text-justify">
                        @Html.Raw(Model.MOTACT)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
