@model Recom_Pharmacy.Models.Blog
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="main_blog_area p_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">

                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-fluid" width="840" height="360" src="@Model.ANH" alt="">
                        </div>
                        <div class="blog_text">
                            <div class="blog_time">
                                <div class="float-left">
                                    <a href="#">@Model.NGAYVIET</a>
                                </div>
                                <div class="float-right">
                                    <ul class="list_style">
                                        <li><a href="#">By :  Admin</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#"><h4>@Model.TIEUDE</h4></a>
                            <p>@Model.MOTANGAN</p>
                        </div>
                    </div>

                    <div class="single_element_text">
                        <p>@Model.MOTACT</p>
                    </div>

                    
                    <div class="s_comment_area">
                        <h3 class="cm_title_br">Leave a Comment</h3>
                        <div class="s_comment_inner">
                            <form class="row contact_us_form" action="http://galaxyanalytics.net/demos/cake/theme/cake-html/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Wrtie message"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" value="submit" class="btn order_s_btn form-control">submit now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>