@model IEnumerable<Recom_Pharmacy.Models.THUOC>
@{
    ViewBag.Title = "ViewAllProduct";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Store</strong></div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>DANH MỤC</h5>
                        </div>
                        @Html.Action("Menu", "UserInterface")
                    </div>

                    <!-- Price Range Filtering -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>LỌC GIÁ</h5>
                        </div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                            <input type="hidden" id="FromAmount" />
                            <input type="hidden" id="ToAmount" />
                        </p>
                        <div id="slider-range"></div>
                        <div class="filter_button"><span>LỌC</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                @*<div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-6 col-lg-4 text-center item mb-4" style="border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                <a href="@Url.Action("DetailProduct", "UserInterface", new { id=item.ID})" class="product_image"> <img src="@item.ANH" alt="@item.TENTHUOC"></a>
                                <div style="border-bottom: 1px solid #ccc;"> </div>
                                <h3 class="product_name"><a href="@Url.Action("DetailProduct", "UserInterface", new { id=item.ID})">@item.TENTHUOC</a></h3>
                                <p class="in_product_price">@item.GIABAN</p>
                            </div>
                        }
                    </div>*@
                <div id="product-list" class="row">
                    @Html.Partial("_ProductList", Model)
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
        $(document).ready(function() {
            var minPrice = 0; // Giá tối thiểu của sản phẩm
            var maxPrice = 1000000; // Giá tối đa của sản phẩm

            $("#slider-range").slider({
                range: true,
                min: minPrice,
                max: maxPrice,
                values: [minPrice, maxPrice],
                slide: function(event, ui) {
                    $("#amount").val(ui.values[0].toLocaleString() + " - " + ui.values[1].toLocaleString());
                    $("#FromAmount").val(ui.values[0]);
                    $("#ToAmount").val(ui.values[1]);
                }
            });

            $("#amount").val($("#slider-range").slider("values", 0).toLocaleString() +
                " - " + $("#slider-range").slider("values", 1).toLocaleString());
            $("#FromAmount").val($("#slider-range").slider("values", 0));
            $("#ToAmount").val($("#slider-range").slider("values", 1));

            // Sự kiện lọc giá
            $(".filter_button").click(function() {
                var fromPrice = $("#FromAmount").val();
                var toPrice = $("#ToAmount").val();

                $.ajax({
                    url: '@Url.Action("FilterByPrice", "UserInterface")',
                    type: 'GET',
                    data: {
                        from: fromPrice,
                        to: toPrice
                    },
                    success: function(data) {
                        $("#product-list").html(data);
                    }
                });
            });
        });
</script>
