@using Recom_Pharmacy.Models
@model List<CartEntity>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@if (Model != null)
{
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Cart</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="site-blocks-table" style="width:100%">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Ảnh</th>
                                <th class="product-name">Sản Phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-total">Tổng Tiền</th>
                                <th class="">Cập nhật</th>
                                <th class="product-remove">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="trow_@item.IDThuoc">
                                    <td class="product-thumbnail">
                                        <img src="@item.Picture" alt="Image" class="img-fluid">
                                    </td>
                                    @using (Html.BeginForm("EditCart", "Cart", new { @id = item.IDThuoc }))
                                    {
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@item.tenThuoc</h2>
                                        </td>
                                        <td>@String.Format("{0:0,0}", @item.giaBan)</td>
                       
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                                </div>
                                                <input id="product-quantity" class="form-control text-center" value="@item.soLuong" name="txtSoluong" data-max="@item.maxSoLuong" max="@item.maxSoLuong" placeholder=""
                                                       aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                                </div>
                                            </div>
                                        </td>


                                        <td>@String.Format("{0:0,0}", @item.tongGia)</td>
                                        <td>	<input type="submit" value="Cập nhật" class="btn btn-primary btn-md btn-block"></td>
                                        <td><a href="@Url.Action("DeleteCart", "Cart", new { id = item.IDThuoc })" class="btn btn-primary height-auto btn-sm">X</a></td>
                                    }

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="@Url.Action("Index", "UserInterface")" class="btn btn-outline-primary btn-md btn-block">Tiếp tục mua sắm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Tổng giỏ hàng</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Số lượng</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@ViewBag.TotalQuantity</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Tổng tiền</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@String.Format("{0:0,0}", TempData["ToTalPrice"])</strong>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Điểm tích lũy của bạn</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black"> @TempData["AvailablePoints"]</strong>
                                </div>
                            </div>

                            @using (Html.BeginForm("Cart", "Cart", FormMethod.Post))
                            {
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="pointsToUse" class="text-black">Sử dụng điểm</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number" name="pointsToUse" class="form-control" min="0" max=" @TempData["AvailablePoints"]" value=" @TempData["PointsUsed"]" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Giảm giá từ điểm</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">@String.Format("{0:0,0}", TempData["DiscountFromPoints"])</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Tổng tiền sau giảm giá</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">@String.Format("{0:0,0}", TempData["FinalPriceAfterPoints"] ?? 0)</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Áp dụng điểm" class="btn btn-primary btn-lg btn-block" />
                                    </div>
                                </div>
                                <br />
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg btn-block" onclick="window.location='@Url.Action("Order","Cart")'">
                                        Mua Hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@section scripts{

    <script>
        $(document).ready(function () {

            var sitePlusMinus = function () {
                $('.js-btn-minus').on('click', function (e) {
                    e.preventDefault();
                    let currentValue = parseInt($('#product-quantity').val());

                    if (currentValue > 1) {
                        $('#product-quantity').val(currentValue - 1);
                    } else {
                        $('#product-quantity').val(1);
                    }
                });
                $('.js-btn-plus').on('click', function (e) {
                    e.preventDefault();
                    let currentValue = parseInt($('#product-quantity').val());

                    if (currentValue < 10) {
                        $('#product-quantity').val(currentValue + 1);
                    }

                    if (currentValue > maxInput) {
                        alert('Số lượng tối đa: ' + maxInput); 
                        $(this).val(maxInput);
                    }
                });
            };
            sitePlusMinus();

            $('#product-quantity').on('input', function () {
                let numberRegex = /^[1-9]\d*$/;
                let value = $(this).val();
                let maxInput = checkSoLuong();
                if (value !== '' && !numberRegex.test(value)) {
                    $(this).val(1);
                }
                if (parseInt(value) > 10) {
                    $(this).val(10);
                }
                if (parseInt(value) > maxInput) {
                    alert('Số lượng tối đa: ' + maxInput); 
                    $(this).val(maxInput);
                }
            });

            $('#product-quantity').on('blur', function () {
                if ($(this).val() == '') {
                    $(this).val(1);
                }
            });
        });

        function checkSoLuong() {
            var input = $('#product-quantity');
            var maxSoLuong = parseInt(input.attr('data-max'));   
            return maxSoLuong;
        }
    </script>
    }