@using Recom_Pharmacy.Models
@model List<CartEntity>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@{
    KHACHHANG cus = (KHACHHANG)Session["usr"];
}
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Checkout</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="bg-light rounded p-3">
                    <p class="mb-0">Bạn đã có tài khoản chưa? <a href="@Url.Action("Login", "Login")" class="d-inline-block">BẤM VÀO ĐÂY </a> để đăng nhập</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Chi tiết thanh toán</h2>
                <div class="p-3 p-lg-5 border">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label for="c_country" class="text-black">Họ tên<span class="text-danger">*</span></label>
                            <input type="text" value="@cus.TENKH" class="form-control" id="c_companyname" name="c_companyname">
                        </div>
                        <div class="form-group">
                            <label for="c_fname" class="text-black">Giới tính <span class="text-danger">*</span></label>
                            <input type="text" value="@cus.GIOITINH" class="form-control" id="c_companyname" name="c_companyname">
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_companyname" class="text-black">Số điện thoại </label>
                                <input type="text" value="@cus.SDT" class="form-control" id="c_companyname" name="c_companyname">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_address" class="text-black">Địa chỉ <span class="text-danger">*</span></label>
                                @*<input type="text" value="@cus.TINHTHANH.TENTINH" class="form-control" id="c_address" name="c_address" placeholder="Street address">*@
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" value="@cus.DIACHI" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_companyname" class="text-black">Ngày đặt hàng </label>
                                <input type="text" value="@DateTime.Now.ToShortDateString()" class="form-control" id="c_companyname" name="c_companyname">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="window.location='@Url.Action("Index", "UserInterface")'">
                                Place
                                Order
                            </button>
                        </div>
                    }


                </div>
            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <th>Product</th>
                                <th>Total</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.tenThuoc <strong class="mx-2">x</strong> @item.soLuong</td>
                                            <td>@String.Format("{0:0,0}", @item.tongGia)</td>
                                        </tr>

                                    }
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Tổng tiền đặt hàng</strong></td>
                                        <td class="text-black font-weight-bold"><strong>@String.Format("{0:0,0}", ViewBag.ToTalPrice)</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>