@model Recom_Pharmacy.Models.QUYDOIDV

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUYDOIDV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TILEQUYDOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TILEQUYDOI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONVITINH.TENDVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONVITINH.TENDVT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THUOC.ANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUOC.ANH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
