@model IEnumerable<Recom_Pharmacy.Models.OrderDetailEntity>
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="text-center">Chi Tiết Đơn Hàng</h2>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Số lượng
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.ItemId)
                            </th>*@
                        <th>
                            Mã Đơn
                        </th>
                        <th>
                            Tổng Giá
                        </th>
                        <th>
                            Sản Phẩm
                        </th>
                        <th>
                            Ảnh
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOLUONG)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MAHDX)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TONGTIEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.THUOC.TENTHUOC)
                            </td>
                            <td>
                                <img width="100" height="100" src="@Html.DisplayFor(modelItem => item.THUOC.ANH)" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
