@model Recom_Pharmacy.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
@*@{

        Recom_Pharmacy.Models.KHACHHANG acc = (Recom_Pharmacy.Models.KHACHHANG)Session["usr"];
        string username = "";
        if (Request.Cookies["usr"] != null)
        {
            username = Request.Cookies["usr"].Value;

        }

    }*@
@*<h2 class="text-center"><font color="#FF000">CHANGE PASSWORD</font></h2>
    <hr />
    @using (Html.BeginForm("Forgotpassword", "Login", FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()

        <div class="container" align="center">
            <span style="color:red">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
            <div class="col-md-5">
                <input type="text"
                       id="userName"
                       name="userName"
                       value="@acc.Username"
                       class="form-control" readonly />
            </div>
            <br />
            <div class="col-md-5">
                <input type="password"
                       id="pass"
                       name="pass"
                       class="form-control" placeholder="Password" maxlength="32" required />
            </div>
            <br />
            <div class="col-md-5">
                <input type="password"
                       id="newpass"
                       name="newpass"
                       class="form-control" placeholder="New Password" maxlength="32" required onkeyup="check()" />
            </div>
            <br />
            <div class="col-md-5">
                <input type="password"
                       id="repass"
                       name="repass"
                       class="form-control" placeholder="Re-Enter Password" maxlength="32" required onkeyup="check()" />
                <span id="message"></span>
            </div>
            <br />


            <input type="submit" value=" Save Now " title="Save" class="btn btn-primary" onsubmit="return confirm('Are you sure you wish to Change Password ?')" />



        </div>
    }


    <script>
        var check = function () {
            if (document.getElementById('newpass').value == document.getElementById('repass').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Matching';
                return true;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Not matching';
                return false;
            }
        }
    </script>*@

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter your email.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    }

@*@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Reset Password</legend>
        <div>
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <p>
            <input type="submit" value="Reset Password" />
        </p>
    </fieldset>
}*@
