@model Recom_Pharmacy.Models.DONVITINH

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới đơn vị tính</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Nhà Cung Cấp</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <div class="card-body">
        <div class="bs-stepper-content">
            @using (Html.BeginForm("Add", "DonViTinh", FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <!-- your steps content here -->
                <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên Nhà cung cấp</label>
                        @Html.TextBoxFor(x => x.TENDVT, new { @class = "form-control", @placeholder = "Nhập vào tên" })
                        @Html.ValidationMessageFor(x => x.TENDVT, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Hiển thị</label>
                        @Html.CheckBoxFor(x => x.TRANGTHAI, new { @checked = "@checked" })
                    </div>
                    <div class="form-group">
                        <a href="/donvitinh" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
